{% extends "main.html" %}
{% load static %}

{% block principal %}
    <h1>Repuestos</h1>
{% endblock %}
{% block contenido1 %}
    <div>
        <a class ="btn btn-success" href= "{% url 'spare_parts_add' %}">Añadir Repuesto</a>
        <a class ="btn btn-primary" href= "{% url 'spare_parts_list' %}">Todos Los repuestos</a>
        
        <a class ="btn btn-primary" href= "{% url 'detail_in_spare_parts' %}">Entradas de Repuesto</a>
        <a class ="btn btn-primary" href= "{% url 'detail_salida_spare_parts' %}">Salidas de Repuesto</a>
        <a class ="btn btn-primary" href= "{% url 'detail_return_spare_parts' %}">Devoluciones de Repuesto</a>
        
        
    </div>
    
    <div class="box-formulario">
            <form action="{% url 'search_parts_update' %}" method="GET">
                <input type="text" name="code" id="busqueda_repuesto" placeholder="Nombre del Repuesto">
                <input class="btn btn-primary" type="submit" value="Buscar Repuesto">
            </form>
    </div>
    

    <div class = "tabla_div">
        <table class="table table-bordered border-primary">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Tipo de tipo_movimiento</th>
                <th scope="col">Repuestos</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Maquina</th>
                <th scope="col">Prestado A</th>
                <th scope="col">Entregado por/devuelto por</th>
                <th scope="col">Se uso?</th>
                <th scope="col"><a href="#">Fecha de salida repuestos</a></th>
                
                <th scope="col">Devoluciones</th>   
    
            </tr>
            </thead>
    
            
            <tbody>
                {% for list_out_spare_part in register %}
                <tr>
                    
                    <td>{{ list_out_spare_part.spare_part_relation.code }}</td> 
                    <td>{{ list_out_spare_part.tipo_movimiento }}</td> 
                    <td><a href="{% url 'spare_parts_detail' list_out_spare_part.spare_part_relation.id %}">{{ list_out_spare_part.spare_part_relation.name_spare_part }}</a></td> 
                    <td>{{ list_out_spare_part.cantidad }}</td> 
                    <td>
                        {% for machine in list_out_spare_part.machine_relation.all %}
                            {{ machine.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td> 
                    <td>{{ list_out_spare_part.entregado_a }}</td> 
                    <td>{{ list_out_spare_part.prestado_por }}/{{ list_out_spare_part.devolucion_por }}</td> 
                    <td>{{ list_out_spare_part.se_uso }}</td> 

                    <td>{{ list_out_spare_part.date_to_movent }}</td> 
                    
                    
                    <td>
                        {% if list_out_spare_part.tipo_movimiento == "entrada" or list_out_spare_part.tipo_movimiento == "devoluciones" %}
                                <p>No disponible</p>
                        {% else %}
                            <div>
                                <a class ="btn btn-success" href= "{% url 'devolucion_spare_parts' list_out_spare_part.spare_part_relation.id %}">Utilizado</a>
                                <a class ="btn btn-info" href= "{% url 'devolucion_spare_parts' list_out_spare_part.spare_part_relation.id %}">Devoluciones</a>
                            </div>
                        {% endif %}
                        
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        
        <p>
            {{ mensaje }}
            {{ registro }}
        </p>
    </div>
{% endblock contenido1 %}