{% extends "main.html" %}
{% load static %}

{% block principal %}
    <h1>Repuestos</h1>
{% endblock %}
{% block contenido1 %}
    <div>
        <a class ="btn btn-success" href= "{% url 'spare_parts_add' %}">Añadir Repuesto</a>
        <a class ="btn btn-primary" href= "{% url 'spare_parts_list' %}">Todos Los repuestos</a>
        <a class ="btn btn-primary" href= "{% url 'detail_salida_spare_parts' %}">historial de salidas</a>
        
    </div>
    
    <div class="box-formulario">
            <form action="{% url 'search_parts_update' %}" method="GET">
                <input type="text" name="code" id="busqueda_repuesto" placeholder="Codigo del repuesto">
                <input class="btn btn-primary" type="submit" value="Buscar Repuesto">
            </form>
    </div>
    

    <div class = "tabla_div">
        <table class="table table-bordered border-primary">
            <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Repuestos</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Maquina</th>
                <th scope="col">Fecha de salida repuestos</th>
                <th scope="col">Disponible </th>
                <th scope="col">Salida de Repuestos</th>  
                <th scope="col">Ingresar Repuestos</th>   
    
            </tr>
            </thead>
    
            
            <tbody>
                {% for spare_part in repuestos %}
                <tr>
                    
                    <td>{{ spare_part.code }}</td> 
                    <td><a href="{% url 'spare_parts_detail' spare_part.id %}">{{ spare_part.name_spare_part }}</a></td> 
                    <td>{{ spare_part.quantity}}</td> 
                    <td>
                        {% for machine in spare_part.machines.all %}
                            {{ machine.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td> 
                    <td>{{ spare_part.date_to_out }}</td> 
                    <td>{% if spare_part.available %}
                        <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                            <path d="M8.56 3.69a9 9 0 0 0 -2.92 1.95"></path>
                            <path d="M3.69 8.56a9 9 0 0 0 -.69 3.44"></path>
                            <path d="M3.69 15.44a9 9 0 0 0 1.95 2.92"></path>
                            <path d="M8.56 20.31a9 9 0 0 0 3.44 .69"></path>
                            <path d="M15.44 20.31a9 9 0 0 0 2.92 -1.95"></path>
                            <path d="M20.31 15.44a9 9 0 0 0 .69 -3.44"></path>
                            <path d="M20.31 8.56a9 9 0 0 0 -1.95 -2.92"></path>
                            <path d="M15.44 3.69a9 9 0 0 0 -3.44 -.69"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M10 10l4 4m0 -4l-4 4"></path>
                          </svg>
                          
                        {% endif %}</p>
                    </td> 
                    <td>
                        <a class ="btn btn-info" href= "{% url 'out_spare_parts'  spare_part.id %}">Salida</a>
                    </td>
                    <td>
                        <a class ="btn btn-warning" href= "{% url 'spare_parts_ingreso' spare_part.id %}">ingresar</a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        
        <p>
            {{ mensaje }}
            {{ registro }}
        </p>
    </div>
{% endblock contenido1 %}