{% extends "main.html" %}
{% load static %}

{% block principal %}
    <h1>Curso formulario</h1>
{% endblock %}
{% block contenido1 %}
<a class="btn btn-primary" href="{% url 'todos_insumos' %}">Volver al listado</a>
    <div class="box-formulario">
        <h2>Ingresar Nuevo insumo</h2>
        <form action="{% url 'crear_insumo' %}" method="POST">
            {% csrf_token %}
            <!-- <p>Nombre: <input type="text" name="curso" placeholder="Nombre"> </p>
            <p>comision: <input type="number" name="comision" placeholder="Comision"> </p> -->
            {{ form.as_p }}

            <input class="btn btn-success" type="submit" value="Crear insumos">
            
            

        </form>
    </div>
{% endblock contenido1 %}