{% extends "main.html" %}
{% load static %}

{% block principal %}
    <h1>Curso formulario</h1>
{% endblock %}
{% block contenido1 %}
    <div class="box-formulario">
        <h2>Formulario</h2>
        <form action="{% url 'formulario_curso' %}" method="POST">
            {% csrf_token %}
            <p>Nombre: <input type="text" name="curso" placeholder="Nombre"> </p>
            <p>comision: <input type="number" name="comision" placeholder="Comision"> </p>
            <input type="submit" value="Enviar" pla>
            

        </form>
    </div>
{% endblock contenido1 %}