body{
    background-color: #fcfde5;    
}

h1{
    color: brown;
}
.nav-bar{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
.box-formulario{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;

}
tr {
    border: 1px dashed #000; /* Borde punteado */
    text-align: center;      /* Texto centrado */
}