{% extends "main.html" %}
{% load static %}

{% block principal %}
    <h1>Herramientas</h1>
{% endblock %}
{% block contenido1 %}
<div class = "tabla_div">
    <table class="table table-bordered border-primary">
        <thead>
        <tr>
            <th scope="col">codigo</th>
            <th scope="col">Nombre Herramientas</th>
            <th scope="col">disponible</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Devolucion</th>  
            <th scope="col">Prestamo</th>  
             

        </tr>
        </thead>

        
        <tbody>
            {% for tools in all_tools  %}
            <tr>
                
                <td>{{ tools.codigo }}</td> 
                <td><a href="{% url 'tools_detail' tools.id %}">{{ tools.nombre_herramienta }}</a></td> 
                <td>{{ tools.disponible}}</td> 
                <td>{{ tools.cantidad}}</td> 
                <td><a class ="btn btn-warning" href= "{% url 'delete_to_tools' tools.id %}">Devolucion</a></td>
                <td><a class ="btn btn-success" href= "{% url 'loan_tools' tools.id %}">Prestamo</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <p>
        {{ mensaje }}
    </p>
</div>
   
{% endblock contenido1 %}